
<div class="container">
  <div class="">
    <%= render partial: 'category', collection: @categorys, locals: {category: @category} %>
  </div>
  <a href="/random" class="btn btn-outline-success">もう一度</a>
</div>